RewriteEngine On
RewriteBase /Auditoria/

# Redireciona tudo para o index.php, mantendo o prefixo /Auditoria
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
